/* колір основного тексту #757575 */

/* колір вторинного тексту #212121 */

/* колір акцент #2196F3 */

/* білий колір #FFFFFF */

/* вторинний білий колір  #F5F4FA */

/* колір мейлу і телефону в футері має інший колір!!! */

:root {
    --main-text-color:#757575;
    --secondly-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-white-color: #F5F4FA;
    --main-withe-color: #FFFFFF;
}
body {
    color:var(--main-text-color);
    background-color: var(--main-withe-color);
}

ul {
    list-style-type: none;
}

.section-title {
    color:var(--secondly-text-color);
}
/* --------CSS для головної сторінки (index.html)-------- */

/* Header */

.logo {
    color: #000000 ;
}

.logo:focus {
    color:var(--accent-color);
}
.logo-accent {
    color:var(--accent-color);
}

.site-nav .link {
    color:var(--secondly-text-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}


.header-contact .link {
    color: var(--main-text-color);
}

.header-page .link:hover, 
.header-page .link:focus {
    color: var(--accent-color);
}

/* банер+кнопка (hero) */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--main-withe-color);
}

.button {
    color: var(--main-withe-color);
    background-color:var(--accent-color);
}

/* команда */
.ourteam {
    background-color:var(--secondary-white-color);
}

/* футер */

.footer {
    background-color: #2F303A;
}

.footer .logo {
    color: var(--main-withe-color);
}

.footer .link {
    color: rgba(255, 255, 255, 60%);
}

.footer-address {
    color: var(--main-withe-color)F;
}

/* --------CSS для портфоліо(portfolio.html)-------- */

/* кнопки фільтру "наші роботи" */

.button.secondary {
    color:var(--secondly-text-color);
    background-color: var(--secondary-white-color);
}

.button.secondary:hover, 
.button.secondary:focus {
color: var(--main-withe-color);
    background-color: var(--accent-color);
}


